<div class="template-nav">
    <div class="sidebar text-center">
        <p class="box"></p>
        <div class="menu dashboard">
            <h3><i class="bi bi-house-door"></i></h3>
            <p>Dashboard</p>
        </div>
        <div class="menu cars">
            <h3><i class="fa-solid fa-truck-pickup"></i></h3>
            <p>Cars</p>
        </div>
    </div>
    <div class="bar">
        <div class="row navigasi">
            <div id="sidebarx" class="col-md-2">
                <p class="box2"></p>
            </div>
            <div class="col">
                <h2><i class="bi bi-list" onclick="hide()"></i></h2>
                <div class="kanan">
                    <form class="d-flex">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-primary" type="submit">
                            Search
                        </button>
                    </form>
                    <div class="profileImage">W</div>
                    <span class="fix">William Wijaya</span>
                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="row fill">
            <div id="sidebary" class="col-md-2">
                <h5 class="mt-3">CARS</h6>
                    <a href="/" style="text-decoration: unset; color: black">
                        <h5>List Car</h6>
                    </a>
            </div>
            <div class="col stay">
                <%- body %>
            </div>
        </div>
    </div>
</div>
<script>
    const hide = () => {
        var x = document.getElementById("sidebarx");
        var y = document.getElementById("sidebary");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "block";
        } else {
            x.style.display = "none";
            y.style.display = "none";
        }
    };
</script>