<p>
    <b>Cars >
        <a href="/" style="text-decoration: unset; color: black">List Car</a> > </b>Add New Car
<h5><b>Add New Car</b></h5>
</p>


<form action="/add" method="post">
    <div class="boxinput p-3">
        <div class="row">
            <div class="col-sm-3">
                <label for="nama" class="form-label">Nama</label>
            </div>
            <div class="col-sm-8">
                <input name="name" type="text" class="form-control" id="nama" placeholder="Nama mobil" required />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="harga_sewa" class="form-label">Sewa Per Hari</label>
            </div>
            <div class="col-sm-8">
                <input name="price" type="text" class="form-control" id="harga_sewa" placeholder="Rp.0,-" required />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="size" class="form-label">Ukuran</label>
            </div>
            <div class="col-sm-8">
                <select name="size" class="form-select" id="size" required>
                    <option selected hidden>Pilih size</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="foto" class="form-label">foto</label>
            </div>
            <div class="col-sm-8">
                <input name="image" type="text" class="form-control" id="foto" placeholder="https://..." required />
            </div>
        </div>
    </div>
    <a href="/"><button type="button" class="btn btn-outline-primary btninput">
            cancel
        </button></a>
    <button type="submit" class="btn btn-primary btninput2">save</button>
</form>