.template-nav {
  height: 100vh;
  display: flex;
}

.sidebar {
  background-color: #0D28A6;
  width: 80px;
}

.box {
  margin-top: 15px;
  background-color: #CFD4ED;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  transition: 0.5s;
  cursor: pointer;
}

.sidebar p {
  color: white;
  font-size: 11px;
}


.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #CFD4ED;
  font-size: 25px;
  color: black;
  text-align: center;
  line-height: 50px;
  margin-right: 0.5rem;
}

.fix {
  margin-right: -17px;
}

.sidebar i {
  color: white;
}

.bar {
  width: 100%;
}

.row {
  margin: 0;
}

.navigasi {
  height: 10%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.142);
}

.fill {
  height: 90%;
}

.fill .col {
  background-color: #E5E5E5;
  padding: 20px;
}


.fill h5 {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.navigasi .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kanan {
  align-items: center;
  display: flex;
  justify-content: end;
  width: 420px;
}

.kanan form {
  height: 40px;
  margin-right: 10px;
  width: 250px;
}

.col-md-2 {
  position: relative;
}

.box2 {
  margin: 0;
  position: absolute;
  background-color: #CFD4ED;
  left: 15px;
  top: 15px;
  bottom: 18px;
  right: 80px;
}

.stay {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.card {
  height: 400px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  position: relative;
}

.card-body .ud {
  font-size: 13px;
}

.row-button {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.delete {
  width: 100%;
  border-radius: 2px;
}

.edit {
  width: 100%;
  border-radius: 2px;
}

.text {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.kotakadd {
  height: 100%;
  width: 130px;
  background-color: rgb(0, 0, 173);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  padding-top: 6px;
  transition: 0.5s;
  cursor: pointer;
}

.boxlist {
  display: flex;
  margin-left: 10px;
}

.box3 {
  padding-top: 8px;
  margin-right: 5px;
  height: 40px;
  text-align: center;
  background-color: white;
  border: 1px solid darkblue;
}

.box3 a {
  text-decoration: unset;
  color: darkblue;
}

.boxlist1 {
  width: 50px;
}

.boxlist2 {
  width: 60px;
}

.boxlist3 {
  width: 80px;
}

.boxlist4 {
  width: 70px;
}

.boxinput {
  background-color: white;
  border-radius: 0.2cm;
}

.boxinput .row {
  margin-top: 25px;
  margin-bottom: 20px;
}

.btninput {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btninput2 {
  position: absolute;
  bottom: 20px;
  left: 100px;
}


.boxupdate {
  background-color: white;
  border-radius: 2px;
}

.boxupdate .row {
  margin-top: 20px;
  margin-bottom: 20px;
}